@tailwind base;
@tailwind components;
@tailwind utilities;

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1536,20,1.333,6,0,&s=0.8|0.5|0.1,1.5|2|3|4|6|8|10,s-s|m-m&g=s,l,xl,12 */

body {
	background-image: url(/bg.webp);
	font-family: 'Playfair Display', serif;
	min-height: 100svh;
	overflow-y: scroll;
}
.flickity-prev-next-button {
	top: 50%;
	width: 32px !important;
	height: 32px !important;
	border-radius: 50%;
	transform: translateY(-50%);
}
@layer base {
	:root {
		--step-0: clamp(1rem, 0.9671rem + 0.1645vw, 1.125rem);
		--step-1: clamp(1.2rem, 1.1212rem + 0.3939vw, 1.4994rem);
		--step-2: clamp(1.44rem, 1.293rem + 0.7352vw, 1.9988rem);
		--step-3: clamp(1.7281rem, 1.4817rem + 1.2319vw, 2.6644rem);
		--step-4: clamp(2.0738rem, 1.6848rem + 1.9449vw, 3.5519rem);
		--step-5: clamp(2.4881rem, 1.8968rem + 2.9564vw, 4.735rem);
		--step-6: clamp(2.9863rem, 2.1113rem + 4.375vw, 6.3113rem);
		::-webkit-scrollbar {
			width: 5px;
			height: 5px;
			border-radius: 12px;
		}

		::-webkit-scrollbar-track {
			background: transparent;
			border-radius: 12px;
		}

		::-webkit-scrollbar-thumb {
			background-color: #9f9781;
			border-radius: 15px;
			border: 1px solid transparent;
			background-clip: padding-box;
		}

		::-webkit-scrollbar-thumb:hover,
		::-webkit-scrollbar-thumb:active {
			background-color: #a9b4bc;
		}
	}
}

@layer utilities {
	.full-svh {
		height: 100svh;
	}
	.text-balance {
		text-wrap: balance;
	}
	.font-fl-1 {
		font-size: var(--step-6);
		line-height: 1.1;
	}
	.font-fl-2 {
		font-size: var(--step-5);
		line-height: 1.25;
	}
	.font-fl-3 {
		font-size: var(--step-3);
		line-height: 1.35;
	}
	.font-fl-4 {
		font-size: var(--step-2);
		line-height: 1.35;
	}
}

@layer components {
}
